.card {
    box-shadow: 0 4px 8px 0 #7D2E65;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    height: 500px;
    border: #7D2E65;
  }
  
  .price {
    color: #7D2E65;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #FD94A9;
    background-color: #7D2E65;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .card a {
    color: #7D2E65;
  }

  .card a:hover {
    color: #7D2E65;
    text-decoration: none;
  }

  .border-0 {
    box-shadow: none;
  }

  a.text-decoration-none.list-group-item.list-group-item-light{
    color: #7D2E65;
  }

  a.text-decoration-none.list-group-item.list-group-item-light.active{
    background-color: #7D2E65;
    color: #FD94A9;
    border-color: #7D2E65;
  }

  a.text-decoration-none.list-group-item.list-group-item-light:hover{
    color: #FD94A9;
  }