<footer class='footer-design' data-store="footer">
    <div class="container-fluid px-md-5">
        <div class="row element-footer">
            <div class="col">
                <ul>
                    <h5>Departamentos</h5>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">Quem somos</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Como comprar</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <h5>Contato</h5>
                    <li><a href="https://www.instagram.com/a.belalingerie/">@a.belalingerie</a></li>
                    <li><i class="envelope"></i><a href="#">belalingerie@gmail.com</a></li>
                    <li><a href="#">belalingerie</a></li>
                </ul>
                <ul class="ul-display-inline">
                    <h5>Redes Sociais</h5>
                    <li><a href="https://www.facebook.com/belalingerie/" ><i class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li><a href="https://www.instagram.com/a.belalingerie/" ><i class="fa fa-instagram fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <h5>Novidades</h5>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">Quem somos</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </div>
        <div class="divider mb-3"></div>
        <div class="row element-footer">
            <div class='col-md-9'>
                <div class="footer-payments">
                    <div class="row mb-4">
                        <div class="col-mb-4">
                            <h4>Formas de Pagamento</h4>
                        </div>
                        <div class="col-md-8">
                            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="visa">
                            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo lazyloaded" alt="mastercard">
                            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/br/boleto@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/br/boleto@2x.png" class="icon-logo lazyloaded" alt="br_boleto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>