{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-navbar">
    <div class="container-fluid">
        <img class="logo-navbar" src="{% static 'media/marca/logo.png' %}" alt="Logo BelaLingerie">
        <a class="navbar-brand" href="{% url 'ecommerce:home' %}">BelaLingerie</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'ecommerce:home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'products:list' %}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'ecommerce:about' %}">Sobre nós</a>
                </li>
            </ul>
        </div>
    </div>
</nav>