{% extends 'index.html' %}
{% load static %}
{% block title %}Produtos{% endblock %}

{% block content %}
    {% if products != null %}
        {% for product in products %}
        {% extends 'index.html' %}
            <div class="container-xl">
                <div class="row">
                    <div class="card">
                        <img src="{{product.image}}" alt="{{product.name}}" style="width:100%;">
                        <h1>{{product.name}}</h1>
                        <p class="price">${{product.price}}</p>
                        <p>{{product.description}}</p>
                        <p><button>Adicionar ao carrinho</button></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}