{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "includes/head.html" %}
    <title>{% block title %}{% endblock %}</title>
</head>
    <!-- Page Preloder -->
    {% include "includes/preloader.html" %}

    <!-- Header Section -->
    {% include "includes/header.html" %}
    
    <!-- Block Section -->
    {% block content %} {% endblock %}

    <!-- Footer Section -->
    {% include "includes/footer.html" %}

    <!-- JavaScript Bundle with Popper -->
    {% include "includes/jsPlugins.html" %}

    {% block script %} {% endblock script %}

    
</html>